/* About.css */

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #333;
    line-height: 1.6;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    
}

.header {
    text-align: center;
    padding: 50px 0;
    background-color: #000000;
}

.header h1 {
    font-size: 3em;
    margin: 0;
    color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header p {
    font-size: 1.2em;
    color: #ffffff;
}

.profile-pic {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-section {
    margin-top: 50px;
}

.about-section h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #000000;
}

.about-section p {
    font-size: 1.1em;
    line-height: 1.6;
    color: #020202;
}

.skills-section {
    margin-top: 50px;
}

.skills-section h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #000000;
}

.skills-list {
    list-style: none;
    padding: 0;
}

.skills-list li {
    font-size: 1.1em;
    margin-bottom: 10px;
    color: #010101;
}

.footer {
    text-align: center;
    padding: 20px 0;
    margin-top: 50px;
    background-color: #005f99;
    color: #fff;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.footer p {
    margin: 0;
    font-size: 1em;
}
