.skills-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px 20px;
    color: #ffffff;
}

.skills-container h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 2.5em;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    padding-bottom: 15px;
    font-family:Arial, Helvetica, sans-serif;
}

.skills-container h2::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 3px;
    background: linear-gradient(90deg, transparent, #ffffff, transparent);
}

.skills-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skill-item {
    color: #ffffff;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    transition: background 0.3s ease;
}

.skill-item:hover {
    background: rgba(175, 45, 187, 0.5);
}
