.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000000;
  color: #fff;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.logo {
  color: #ffcc00; /* Change the color of "My Portfolio" */
  margin-bottom: 20px;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  margin: 10px 0;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;
  color: #921970;
  transition: color 0.3s ease;
}
